//$icon-font-path: '../fonts/';
//// bower:scss
//@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower
//
//.browserupgrade {
//  margin: 0.2em 0;
//  background: #ccc;
//  color: #000;
//  padding: 0.2em 0;
//}
//
///* Space out content a bit */
//body {
//  padding-top: 20px;
//  padding-bottom: 20px;
//}
//
///* Everything but the jumbotron gets side spacing for mobile first views */
//.header,
//.marketing,
//.footer {
//  padding-right: 15px;
//  padding-left: 15px;
//}
//
///* Custom page header */
//.header {
//  padding-bottom: 20px;
//  border-bottom: 1px solid #e5e5e5;
//}
//
///* Make the masthead heading the same height as the navigation */
//.header h3 {
//  margin-top: 0;
//  margin-bottom: 0;
//  line-height: 40px;
//}
//
///* Custom page footer */
//.footer {
//  padding-top: 19px;
//  color: #777;
//  border-top: 1px solid #e5e5e5;
//}
//
///* Customize container */
//@media (min-width: 768px) {
//  .container {
//    max-width: 730px;
//  }
//}
//.container-narrow > hr {
//  margin: 30px 0;
//}
//
///* Main marketing message and sign up button */
//.jumbotron {
//  text-align: center;
//  border-bottom: 1px solid #e5e5e5;
//}
//.jumbotron .btn {
//  padding: 14px 24px;
//  font-size: 21px;
//}
//
///* Supporting marketing content */
//.marketing {
//  margin: 40px 0;
//}
//.marketing p + h4 {
//  margin-top: 28px;
//}
//
///* Responsive: Portrait tablets and up */
//@media screen and (min-width: 768px) {
//  /* Remove the padding we set earlier */
//  .header,
//  .marketing,
//  .footer {
//    padding-right: 0;
//    padding-left: 0;
//  }
//  /* Space out the masthead */
//  .header {
//    margin-bottom: 30px;
//  }
//  /* Remove the bottom border on the jumbotron for visual effect */
//  .jumbotron {
//    border-bottom: 0;
//  }
//}
*{
  padding: 0;
  margin: 0;
}
body{
  margin: 10px 20px;
  font-size: 14px;
}
.left{
  float: left;
}
.left li,
.right li{
  display: inline-block;
  padding: 5px;
  cursor: pointer;
}
.right{
  float: right;
}
header:after{
  content: '';
  display: block;
  clear: both;
}
.logo{
  margin-top: 40px;
  text-align: center;
}
.search{
  text-align: center;
  font-size: 0;
}
.search input[type='text']{
  display: inline-block;
  width: 600px;
  height: 44px;
  outline: 0;
  padding-left: 10px;
  font-size: 16px;
  border: 1px solid rgba(0,0,0,0.25);
  color: #333;
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
  border-right: 0;
}
.search a{
  display: inline-block;
  width: 74px;
  height: 44px;
  box-shadow: none;
  font-size: 33px;
  border-top-left-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 0;
  line-height: 44px;
  text-align: center;
  background: #fd6853 url('../images/ico_spy.png') 29px -9px no-repeat;
  vertical-align: bottom;
  cursor: pointer;
}
footer{
  margin-top: 100px;
}
footer:after{
  content: '';
  display: block;
  clear: both;
}
.wrap{
  display: flex;
}
.wrap:after{
  content: '';
  display: block;
  clear: both;
}
.APP{
  flex: 1;
  text-align: right;
  border-right: 1px solid #f2f2f2;
  padding: 10px;
}
.APP:before{
  content: '';
  display: inline-block;
  width: 62px;
  height: 62px;
  background:  url('../images/erweima.png');
}
.APP h1{
  display: inline-block;
  font-size: 12px;
  color: rgba(0,0,0,0.7);
  font-weight: 700;
  vertical-align: top;
  margin-left: 10px;
}
.APP p{
  text-align: center;
  font-size: 12px;
  color: rgba(0,0,0,0.5);
  font-weight: 400;
  vertical-align: middle;
  padding-top: 5px;
}
.info{
  flex: 1;
  padding: 30px 10px;
  color: rgba(0,0,0,0.7);
}


